{% extends 'ConcertoCmsCoreBundle:_Layouts:base.html.twig' %}
{% block title %}Dashboard{% endblock %}

{% block content %}
    <div id="contentContainer">

    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/templates.core.js') }}"></script>
    <script>
        Concerto.View.Content.init({{ pages|json_encode|raw }})
    </script>
{% endblock %}