<header class="herounit">
    <nav class="navbar" role="navigation">
        <div class="container">
            <ul class="nav navbar-nav">
                <li class="disabled"><a href="#/_splash" class="disabled" data-toggle="tab">Splash</a></li>
                <li class="active"><a href="#/nl" data-toggle="tab">Nederlands</a></li>
                <li><a href="#/en" data-toggle="tab">English</a></li>
                <li><a href="/cms/settings/languages" data-toggle="tab"><i class="glyphicon glyphicon-cog"></i> Manage...</a></li>
            </ul>
        </div><!-- /.container-fluid -->
    </nav>
</header>
<div class="container">
    <div class="pull-right">
        <button class="btn btn-info"><i class="glyphicon glyphicon-plus"></i> Add page</button>
    </div>
    <ul class="list-group content-list">
        <li>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Homepage</h4>
                <p class="list-group-item-text">/nl</p>
            </a>
            <ul>
                <li>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">About our company</h4>
                        <p class="list-group-item-text">/nl/about</p>
                    </a>
                    <ul>
                        <li>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">Meet the team</h4>
                                <p class="list-group-item-text">/nl/about/team</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">Policy &amp; disclaimer</h4>
                                <p class="list-group-item-text">/nl/about/policy</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">About our company</h4>
                        <p class="list-group-item-text">/nl/about</p>
                    </a>
                    <ul>
                        <li>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">Meet the team</h4>
                                <p class="list-group-item-text">/nl/about/team</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">Policy &amp; disclaimer</h4>
                                <p class="list-group-item-text">/nl/about/policy</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>


</div>