<div class="container clearfix">
    {% if languages|length > 1 %}
    <ul class="nav nav-pills pull-left">
        {% for lang in languages %}
            <li{% if lang.get('name') == page.get('name') %} class="active"{% endif %}><a href="#{{ lang.get('name') }}" data-toggle="tab">{{ lang.get('description') }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}

    <p class="text-right">
        <button type="button" class="btn btn-info new-page"><i class="glyphicon glyphicon-plus"></i> Toevoegen...</button>
    </p>
</div>
<hr />
<div class="container">
    <ul class="list-group item-list content-list">
        {% include 'content.pageListItem.html.twig' with {language: page, page: page, pageTypes: pageTypes} %}
    </ul>
</div>