<li>
    <a href="#{{ language.get('name') }}/{{ page.getId() }}" class="list-group-item">
        <h4 class="list-group-item-heading">{{ page.getContent().get('title')|default('<em>Geen titel</em>') }}</h4>
        <p class="list-group-item-text">{{ page.getId() }}</p>
    </a>
    {% if page.children|length > 0 %}
        <ul>
            {% for child in page.children %}
                {% include 'content.pageListItem.html.twig' with {language: language, page: child} %}
            {% endfor %}
        </ul>
    {% endif %}
</li>
