
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Nieuwe pagina</h4>
            </div>
            <div class="modal-body">
                <fieldset>
                    <label>Type pagina</label>
                    <select class="form-control" name="type">
                        {% for type in getPageTypes() %}
                        <option value="{{ type.id }}">{{ type.get('label') }}</option>
                        {% endfor %}
                    </select>
                </fieldset><br />
                <fieldset class="form-inline">
                    <label>Url</label><br />
                    <select class="form-control" name="parent">
                        {% for page in parentList %}
                            <option value="{{ page.id() }}">{{ page.getId() }}</option>
                        {% endfor %}
                    </select> / <input class="form-control" type="text" placeholder="slug" name="name"/>
                </fieldset>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuleren</button>
                <button type="button" class="btn btn-primary save">Aanmaken</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->



