
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="form-group">
                    <label for="content_title">Title</label>
                    <input type="text" class="form-control" id="content_title" placeholder="Titel" required />
                </div>
                <div class="form-group">
                    <label for="content_content">Content</label>
                    <textarea id="content_content" name="content" class="form-control"></textarea>
                </div>
            </div>
            <div class="col-sm-4">
                <fieldset>
                    <legend>Brochure</legend>
                    {% if model.getBrochure() %}
                        <a href="{{ model.getBrochure() }}" target="_blank">brochure.pdf</a>
                    {% endif %}
                    <p>
                        <button type="button" class="btn btn-info btn-lg" id="uploadBrochure"><i class="glyphicon glyphicon-plus"></i> Selecteren...</button>
                    </p>
                </fieldset>
                <fieldset>
                    <legend>Technische fiche</legend>
                    <p>
                        <button type="button" class="btn btn-info btn-lg"><i class="glyphicon glyphicon-plus"></i> Selecteren...</button>
                    </p>
                </fieldset>
            </div>
        </div>

    </div>
</section>
<hr />
<div class="container">
    <button class="pull-right btn btn-lg btn-success save disabled"><i class="glyphicon glyphicon-ok"></i> Opslaan</button>
</div>