
<section>
    <div class="container">
        An epic form comes here
    </div>
</section>
<hr />
<div class="container">
    <button class="pull-right btn btn-lg btn-success"><i class="glyphicon glyphicon-ok"></i> Save changes</button>
</div>