<form class="clearfix">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <button type="button" class="btn btn-default move-up"><span class="glyphicon glyphicon-arrow-up"></span></button>
            <button type="button" class="btn btn-default move-down"><span class="glyphicon glyphicon-arrow-down"></span></button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-danger delete"><span class="glyphicon glyphicon-trash"></span></button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-info add"><span class="glyphicon glyphicon-plus"></span> Add submenu</button>
        </div>
    </div>
    <div class="form-group">
        <label>Label</label>
        <input type="text" class="form-control" name="label" />
    </div>
    <div class="form-group">
        <label>Url</label>
        <input type="text" class="form-control" name="uri" />
    </div>
    <button class="pull-right btn btn-lg btn-success save disabled"><i class="glyphicon glyphicon-ok"></i> Opslaan</button>
</form>